.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  border-radius: 8px;
  padding: 24px;
  width: 408px;
  margin: 24px auto 0;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}

label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input,
textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  width: 360px;
  padding: 8px 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
input:focus,
textarea:focus {
  outline: none;
  border-color: #4e75ff;
}

input {
  height: 40px;
}

textarea {
  height: 80px;
  margin-bottom: 8px;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 95px;
  min-height: 40px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4e75ff;
  transition: background-color 250ms ease-in;
}

button:hover {
  background-color: #6c8cff;
}
